    <div class="container">
        <div class="row col-md-9">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">

            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

            <li data-target="#carousel-example-generic" data-slide-to="1"></li>

            <li data-target="#carousel-example-generic" data-slide-to="2"></li>

            <li data-target="#carousel-example-generic" data-slide-to="2"></li>

        </ol>

        <div class="carousel-inner">

            <div class="item active">

                <img class="slide-image" src="http://placehold.it/800x300" alt="">
            </div>

            <div class="item">

                <img class="slide-image" src="http://placehold.it/800x300" alt="">
            </div>

            <div class="item">

                <img class="slide-image" src="http://placehold.it/800x300" alt="">
            </div>

        </div>

        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">

            <span class="glyphicon glyphicon-chevron-left"></span>

        </a>

        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">

            <span class="glyphicon glyphicon-chevron-right"></span>

        </a>

    </div>


            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non enim efficitur tellus varius ultrices. Sed pellentesque blandit sagittis. Praesent erat velit, molestie vitae ipsum at, rhoncus luctus mauris. Ut nec accumsan magna. Morbi eget odio et lorem facilisis venenatis eu et nisl. Fusce varius mattis nunc. Sed at placerat ante. Aliquam in maximus lacus, vel bibendum lacus. Vestibulum volutpat libero non ipsum cursus scelerisque. Etiam dictum molestie velit. Suspendisse porta elit vel mauris mollis elementum. Sed quis sodales nulla, nec facilisis justo. Ut congue hendrerit nisl nec lobortis. Vestibulum porttitor orci nec tellus tempus interdum. Suspendisse blandit ultrices pellentesque. Proin eget tincidunt orci, sit amet molestie ligula.

Curabitur suscipit, velit vel accumsan mollis, nibh eros vulputate magna, sed maximus lectus tortor porta lectus. Donec sollicitudin interdum fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eget ullamcorper justo, ut volutpat metus. Fusce non risus mi. Ut faucibus, urna et volutpat ornare, risus dui tincidunt libero, nec iaculis libero mi eget sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent egestas maximus lacus, et vulputate lectus auctor sit amet. Etiam non odio in turpis tincidunt imperdiet. Pellentesque suscipit pretium semper. Curabitur interdum vitae erat vitae malesuada. Aliquam erat volutpat. Proin ut tempus libero, a egestas nulla. Donec ex nisi, suscipit et orci non, pellentesque laoreet ligula.

Vestibulum lobortis ultrices nunc, sed bibendum urna egestas ut. Vivamus libero ante, efficitur ac sapien quis, luctus suscipit leo. Morbi eleifend, diam non egestas pellentesque, justo mauris mattis odio, vel efficitur erat ante at elit. Ut a dapibus leo. Phasellus dapibus nisl non tincidunt accumsan. Curabitur et aliquam tellus. Nullam egestas auctor varius. Curabitur ullamcorper ex vitae magna consectetur iaculis. Vestibulum id sollicitudin turpis. Aenean tincidunt malesuada dui at mattis. Suspendisse fermentum leo ut magna tempor pretium.

Praesent porttitor magna sed nisl tempus vehicula. Vivamus sed lectus hendrerit, suscipit eros ut, accumsan turpis. Phasellus vel metus in turpis dapibus porta eu at orci. Phasellus lectus dui, venenatis sed ante finibus, ullamcorper finibus erat. Vestibulum ultrices laoreet tortor, sit amet congue ligula auctor vitae. Fusce tempor odio in feugiat molestie. Donec nec vulputate nulla.

Vivamus viverra magna purus, sit amet pretium tortor iaculis eu. Mauris quis blandit eros, non dignissim ligula. Integer mi ex, feugiat et feugiat at, porttitor 
        </div>
    </div>
