<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    file upload sucess fully
    /o Add more file
     @Html.ActionLink("ADD","/AdminPage", "Home")
    

</body>
</html>
